<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/indoor.css">
</head>
<body>
        <!-- navbar start -->
        <div class="navbar" style="z-index:101 ;">
            <ul>
                <li><a class="icona" href="#home"><img class="icon" src="static/images/Screenshot 2023-01-27 at 2.35.55 PM.png" alt=""></a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li style="float:right"><a href="#about">About</a></li>
              
            </ul>
        </div>
       
        <!-- navbar end -->
        <div class="mainheading">Indoor activites</div>
        <div class="workingheading">How it works</div>
    <div class="working">

        <div class="one card">
            <div class="content">
                <b>Join the game</b>
            </div>
            <div class="image">
                <img src="static/images/indoor1.jpeg" alt="">
            </div>

            <div class="content">
                935,654<br>players
            </div>

        </div>
        <div class="two card">
            <div class="content">
                <b> Loose weight</b>
             
            </div>
            <div class="image">
                <img src="static/images/indoor2.jpeg" alt="">
            </div>
            <div class="content">
               1,221,134 lbs lost
            </div>
        </div>
        <div class="three card">
            <div class="content">

              <b>  WIN and split the pot</b>
            </div>
            <div class="image">
                <img src="static/images/indoor3.jpeg" alt="">
            </div>
            <div class="content">
                $62,263,156<br>paid to winners
            </div>
        </div>
    </div>
    <div class="eventheading">
        Featured events
    </div>
    
    <div class="scrollable">
       

        <a href="#"><div class="scroll_card">

                <div class="heading">
                    Push-up
                </div>
                <div class="image">
                    <img src="static/images/pushup.png" alt="">
                </div>
                <div class="description">
                    <br>Target : 1000 pushups within 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 1000$<br><br>max player : 100<br><br> Bet : $10<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>

        
        </div></a>
        <a href="#"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Running
                </div>
                <div class="image">
                    <img src="static/images/running.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : run 20 miles in 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 500$<br><br>max player : 100<br><br> Bet : $5<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
        <a href="#"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Skipping
                </div>
                <div class="image">
                    <img src="static/images/skipping.webp" alt="">
                </div>
                <div class="description">
                    <br>Target : 1000 skips in 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 5000$<br><br>max player : 1000<br><br> Bet : $5<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
        <a href="#"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    marathon
                </div>
                <div class="image">
                    <img src="static/images/marathon.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : 100 miles in 15 days
                </div>
                <div class="content">
                    <b>Total prize pool : 10000$<br><br>max player : 100<br><br> Bet : $100<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
        <a href="#"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Crunches
                </div>
                <div class="image">
                    <img src="static/images/crunch.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : 1000 crunches within 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 1000$<br><br>max player : 100<br><br> Bet : $10<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
       

     
      
    </div>
</body>
</html>