<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/indoor.css">
</head>
<body>
    <div id="b"></div>
        <!-- navbar start -->
        <div class="navbar" style="z-index:101 ;">
            <ul class="na">
                <b>

                    <li><a class="webname" href="/" style="font-size: 20px;">FITSPRINT</a></li>
                </b>
                
                {% if request.session.username %}
                <li style="float: right;"><a href="/logout" >Logout</a></li>
                {% else %}
                <li style="float:right"><a href="/signup">SignUp</a></li>
                <li style="float:right"><a href="login">Login</a></li>
                {% endif %}
            </ul>
        </div>
       
        <!-- navbar end -->
        <div class="mainheading">Indoor activites</div>


        <div class="themeimage" id="theme">
            <img src="static/images/theme.png" alt="">
        </div>





        <div class="workingheading">How it works</div>
    <div class="working">

        <div class="one card">
            <div class="content">
                <b>Join the game</b>
            </div>
            <div class="image">
                <img src="static/images/indoor1.jpeg" alt="">
            </div>

            <div class="content">
                935,654<br>players
            </div>

        </div>
        <div class="two card">
            <div class="content">
                <b> Loose weight</b>
             
            </div>
            <div class="image">
                <img src="static/images/indoor2.jpeg" alt="">
            </div>
            <div class="content">
               1,221,134 lbs lost
            </div>
        </div>
        <div class="three card">
            <div class="content">

              <b>  WIN and split the pot</b>
            </div>
            <div class="image">
                <img src="static/images/indoor3.jpeg" alt="">
            </div>
            <div class="content">
                $62,263,156<br>paid to winners
            </div>
        </div>
    </div>
    <div class="eventheading">    
        Featured events
    </div>
    <div class="scrollable">
    {% for event in event %}
    <a href="register">
        <div class="scroll_card">
            <div class="heading">
                {{event.event_name}}
            </div>
            <div class="image">
                <img src="{{event.event_image.url}}" alt="">
            </div>
            <div class="description">
                <br>Target : {{event.target}}
            </div>
            <div class="content">
                <b>Total prize pool : ${{event.prize_pool}}<br><br>max player : {{event.max_players}}<br><br> Bet : ${{event.bet}}<br><br>
            </div>
            <div class="button">
            <button>register</button>
            </div>
            </div>
    </a>
    {% endfor %} 
    </div>
    
</body>
</html>

<script>
    var theme = document.getElementById("theme");
    theme.onclick = function () {
        document.body.classList.toggle("darktheme");
        // console.log("woeking")
    }

    var time = new Date();
        var t = time.toLocaleString('en-US', { hour: 'numeric', hour12: true })
        var ans = time.getHours();
        const last2 = t.slice(-2);
        if(ans<6 || ans>18){
             document.body.classList.toggle("darktheme");
        }




</script>